@model labtestportal.Model.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pers_Gender.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pers_Gender.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.States)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.States)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.person_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
